.board{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 480px;
}

.roadbed{
  background: url(./img/road.png) repeat-y;
  width:480px;
  height:1600px;
  background-size: 480px auto;
  position:absolute;
  left:0;
  top:-800px;
}

.roadrun{
    -webkit-transform:translateZ(0);
    -webkit-animation:roadRun 2s linear infinite;
}

@-webkit-keyframes roadRun{
    100%{ -webkit-transform:translateY(800px);}
}

.start{
  width: 100px;
  padding: 20px;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.hide{
  display: none;
}

#hero{
  width: 80px;
  height: 160px;
  background-color: #44c6b8;
  border-radius: 5px;
  position: absolute;
  top: 500px;
}

.hero-left{
  left: 120px;
}
.hero-right{
  right: 120px;
}

.enemy{
  width: 80px;
  height: 160px;
  /*background-color: #44c6b8;*/
  border-radius: 5px;
  position: absolute;
  top: 0px;
  display: none;
  /*-webkit-animation:enemy 1s linear forwards infinite;*/
  -webkit-animation-name:enemy;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  /*-webkit-animation-direction: forwards;*/
  -webkit-animation-iteration-count: infinite;
}
/*.enemy{ -webkit-animation:enemy 1s linear forwards; }*/

@-webkit-keyframes enemy{
    100%{ -webkit-transform:translateY(1000px);}
}

.enemy0{
  display: block;
  background-color: red;
}
.enemy1{
  display: block;
  background-color: orange;
}
.enemy2{
  display: block;
  background-color: yellow;
}

.loc0{
  left: 120px;
}
.loc1{
  right: 120px;
}

.kilo{
  position: absolute;
  top: 20px;
  right: 15px;
  height: 100px;
  width: 100px;
  border: 10px solid;
  border-radius: 50%;
  font-size: 36px;
  line-height: 100px;
  text-align: center;
  background-color: #ffffff;
}

.failbub{
    width: 120px;
    padding: 20px;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    background: #bd3333;
    color: #fff;
    text-align: center;
    display: none;
}

.failtext{
  display: block;

}

.retry{
  display: block;
  background: #000;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}


