.board{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 480px;
}

.roadbed{
  background: url(./img/road.png) repeat-y;
  width:480px;
  height:1600px;
  background-size: 480px auto;
  position:absolute;
  left:0;
  top:-800px;
}

.roadrun{
    -webkit-transform:translateZ(0);
    -webkit-animation:roadRun 2s linear infinite;
}

@-webkit-keyframes roadRun{
    100%{ -webkit-transform:translateY(800px);}
}

.start{
  width: 100px;
  padding: 20px;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.hide{
  display: none;
}

#hero{
  width: 80px;
  height: 160px;
  background-color: #44c6b8;
  border-radius: 5px;
  position: absolute;
  top: 500px;
}

.hero-left{
  left: 120px;
}
.hero-right{
  right: 120px;
}

.enemy{
  width: 80px;
  height: 160px;
  /*background-color: #44c6b8;*/
  border-radius: 5px;
  position: absolute;
  top: 0px;
  display: none;
  -webkit-animation:enemy 1s linear forwards infinite;
}
/*.enemy{ -webkit-animation:enemy 1s linear forwards; }*/

@-webkit-keyframes enemy{
    100%{ -webkit-transform:translateY(1000px);}
}

.enemy0{
  display: block;
  background-color: red;
}
.enemy1{
  display: block;
  background-color: orange;
}
.enemy2{
  display: block;
  background-color: yellow;
}

.loc0{
  left: 120px;
  /*-webkit-animation:enemy 1s linear forwards infinite;*/
}
.loc1{
  right: 120px;
  /*-webkit-animation:enemy 1s linear forwards infinite;*/
}

